*{
  padding: 0px;
  margin: 0px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.flow-container{
  height: 90vh;
  display: flex;
  background-color: #e1e3e4b2;
}

.minimap{
  background: rgb(228, 227, 227);
  border:1px solid rgb(177, 175, 175);
  border-radius: 8px;
}

.btn.json-preview{
    border: 1px solid #121212;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 16px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
}

.json-preview-validation-container{
  position: fixed;
  bottom: 0px;
  left: 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  z-index: 1000;
}

.popup-wrapper{
  position: relative;
}